* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  background-color: #5f5f5f;
  background-image: url(../images/pink-flowers.webp);
}
h1 {
  color: #ffffff;
  margin: 10px 0 15px 0;
  text-align: center;
}
h2 {
  color: #7facaa;
  margin: 10px 0 20px 0;
  text-align: center;
}
h3 {
  color: #7facaa;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3px;
}
ol {
  padding: 0 0 0 50px;
}
ul {
  padding: 0 0 0 50px;
}
.nav {
  padding-left: 0;
  text-align: center;
}
.nav a {
  color: #0000af;
  text-decoration: none;
}
.nav li {
  display: inline;
}
.recipes {
  list-style-type: none;
  padding: 0;
}
.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
  margin-bottom: 5px;
  height: 80px;
}
.recipes h3 {
  border-bottom: 0;
}
.recipes img {
  height: 100%;
  width: 100px;
  display: block;
  float: left;
  padding-right: 10px;
}
p.clear {
  clear: both;
}
.recipes a {
  color: #7facaa;
  text-decoration: none;
}
.recipes li {
  background-color: #ffffff;
}
.header {
  padding: 10px 10px 10px 10px;
  background-color: #b56663;
}
.main-content {
  width: 500px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #cccccc;
  margin: 30px auto 0 auto;
  background: #ffffff url(../images/moroccan-flower.png) top left repeat;
}
.header a {
  color: #ffffff;
}

.photos img {
  width: 100px;
  height: 100px;
}
.photos {
  list-style-type: none;
  padding: 0;
}
.photos li {
  display: inline;
  padding-left: 11px;
}
