* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.weathers {
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.weather {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.weather__img {
  width: 8rem;
  float: left;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  padding-right: 10px;
}

.weather__data {
  font-size: 0.8em;
  color: blue;
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.weather__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.weather__clouds {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: darkred;
}

.weather__row:not(:last-child) {
  margin-bottom: 1rem;
}

.weather__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.4rem;
}

.btn-weather {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.weather__data span {
  width: 90px;
}
